body {
    background-color: blue;
    color: #fff;
    align-items: center;
    justify-content: center;
}

h1 {
    border: 30px solid #fff;
    /* padding: 50px 10px 5px 30px; */
    padding-left:250px;
    padding-right:0px;
    padding-bottom:100px;
}

p {
    font-size: 20px;
    text-align: center;
    background-color: black;
}

